:root {
  --container-width: 1150px;
  --container-padding: 15px;
  --container: calc(var(--container-width) + calc(var(--container-padding) * 2));
  --fontFamily: 'IBM Plex Mono', sans-serif;
  --fontWeight: 400;
  --fontSize: 22px;

  /* Color */
  --mainColor: #ffffff;
  --blackColor: #000000;
  --accentColor: #1bff07;

  /* Fonts */
  --second-family: 'Manrope', sans-serif;
}
